replicaCount: 2

image:
  repository: 194636597980.dkr.ecr.eu-central-1.amazonaws.com/flask-app-repo
  pullPolicy: Always
  tag: "latest"

service:
  type: LoadBalancer
  port: 80
  targetPort: 5000

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi